/obj/
*.plist
*.xcodeproj
*.xcconfig
**/.gitkeep
positionDetector3.xcodeproj
Project.xcconfig
bin/.DS_Store
openFrameworks-Info.plist
*.DS_Store
*.app
icon.rc
*.VC.db
*.vcxproj.user
.vs/*
bin/
mrpmcameraserver.VC.VC.opendb
